img,
embed,
object,
video {
    max-width: 100%
}

html *
{
   color: #2d3c49;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.omt-header {
    font-family: "Orbitron", sans-serif;
    color: #000;
}

.logo {
    max-width: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.jumbotron {
    padding: 20px 40px 20px !important;
    margin-bottom: 0px !important;
}

.post-links {
    margin-bottom: 30px;
}

.footer {
    margin-top: 30px;
}