img,
embed,
object,
video {
    max-width: 100%
}

html * {
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 16px;
}

.omt-header h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 32px;
    color: #000;
}

.logo {
    max-width: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.jumbotron {
    padding: 20px 40px 20px !important;
    margin-bottom: 0px;
}

.jumbotron p {
    font-size: 18px;
}

.post-links {
    margin-bottom: 30px;
}

.footer {
    margin-top: 30px;
}