{% extends "theme.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form method="post">
                <input type="hidden" name="post_id" value="{{post_id}}">
                <h2 class="form-signin-heading">Comment</h2>

                <label for="content" class="sr-only">Blog</label>
                <textarea id="content" rows="5" name="content" class="form-control" placeholder="Type content here ...">{{content}}</textarea>
                {% if error %}
                    <div class="alert alert-danger">{{error}}</div>
                {% endif %}

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit Comment</button>
                <a class="btn btn-lg btn-primary btn-block" href="/blog/{{post_id}}" type="button">Cancel</a>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}
