<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oliver Maerz Portfolio</title>
    <link rel="stylesheet" href="/static/css/styles.css?v=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Orbitron:400,500" rel="stylesheet">
    <link rel="shortcut icon" type="image/svg+xml" href="/static/img/oliver_maerz_logo_star_only.svg">

</head>

<body>
    <div class="container">

        <header class="row">
            <div class="col-sm-2">
                <a href="/"><img src="/static/img/oliver_maerz_logo_star_only.svg" class="img-responsive logo" alt="Logo: White Star on Grey Background"></a>
            </div>

            <div class="col-sm-10 text-right">
                <h1>Oliver Maerz</h1>
                <h2>Technologies</h2>
            </div>
        </header>

        <div class="row">
            <div class="col-xs-12">
                <hr class="portfolio-ruler">
            </div>
        </div>

        <main class="row">
            <div class="col-xs-12">
                <a href="/blog" class="main-title">
                    Our Blog
                </a>

                <div class="login-area">
                    {% if user %}
                        {{user.name}} (<a class="login-link" href="/logout">logout</a>)
                    {% else %}
                        <a class="login-link" href="/login">login</a>
                        |
                        <a class="login-link" href="/signup">signup</a>
                    {% endif %}
                </div>

                <div id="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </main>

        <footer class="row text-center">
            <div class="col-xs-12">
                © 2016 Oliver Maerz. All rights reserved.
            </div>
        </footer>

    </div><!-- container -->
</body>

</html>

